/* general rules */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h1 > span {
    color: #E76F51;
}

.margin-top {
    margin-top: 70px;
}

/* header section */
.header-bg {
    background: #264653;
}

.nav-search-btn {
    background-color: #E76F51;
}

.top-banner-btn {
    background-color: #E76F51;
    padding: 8px 40px;
}

/* featured bikes section */
.img-grayscale {
    filter: grayscale(100%);
}

/* happy cliens section */
.star-color {
    color: #E77C40;
}

.client-name-color {
    color: #23A6F0;
}

.card-img-circle {
    border-radius: 50%;
}

/* check out here section */
.fa-font-sz {
    font-size: 70px;
}

/* footer */
footer {
    background: #0B0D17;
}


/* media query css rules*/

@media only screen and (max-width: 576px) {
    #happy-clients {
        width: 100% !important;
    }

    #faq img {
        width: 100% !important;
    }
}
